.not-logged-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(247, 203, 203);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
   
}