<div class="app-container">
    <header>
        <h1>DT207G - Moment 4</h1>
        <app-menu></app-menu>
    </header>
    <main>
        <router-outlet />
    </main>
    <footer>
        <article>
            <h3>Uppgift</h3>
            <p>DT207G - Moment 4 - Autentisering och säkerhet</p>
        </article>
        <article>
            <h3>Webbplats</h3>
            <p>Hanterar konton och vilka som kan se terraria_bosses sidan.</p>
        </article>
        <article>
            <h3>Ägare</h3>
            <p>Isaac Svedin</p>
        </article>
    </footer>
</div>